<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Find your next job!</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <ng-container *ngIf="isLogged">
          <li class="nav-item">
            <a class="nav-link" routerLink="job-ads">Advertisments</a>
          </li>
        </ng-container>

        <li class="nav-item" *ngIf="userRole === 'Person'">
          <a class="nav-link" routerLink='/user/ads'>My jobs</a>
        </li>

        <li class="nav-item" *ngIf="userRole === 'Company'">
          <a class="nav-link" routerLink='/user/ads'>Job applications</a>
        </li>
        
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link" routerLink='/login'>Login</a>
        </li>

        <ng-container *ngIf="isLogged">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['profile', loggedUser.id]">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()">Logout</a>
          </li>
        </ng-container>
        
      </ul>
    </div>
  </nav>
