<div class="row">
    <div class="col-md-12">
        <h4 class="text-center">Login</h4>
    </div>
</div>

<div class="row" *ngIf="errorMsg">
    <div class="col-md-12">
        <p class="text-center text-danger">{{errorMsg}}</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" 
                       class="form-control" 
                       id="email"
                       formControlName="email"
                       placeholder="Enter email">        
        
            <app-error-message [control]="formGroup.get('email')"></app-error-message>
        
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" 
                       class="form-control" 
                       id="password"
                       formControlName="password"
                       placeholder="Enter password">        
        
            <app-error-message [control]="formGroup.get('password')"></app-error-message>
        
            </div>

            <div class="form-group mr-1">
                <button type="submit" 
                        class="btn btn-primary"
                        [disabled]="formGroup.invalid">
                Login
                </button>
            </div>

            <div class="form-group">
                <button type="btu" 
                        class="btn btn-primary"
                        routerLink="/register">
                Register
                </button>
            </div>
        </form>
    </div>
</div>
