<h3>
    {{ad.id ? 'Update' : 'Create'}}
</h3>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title">Ttile:</label>
        <input type="text" 
               class="form-control" 
               id="title"
               formControlName="title"
               placeholder="Enter title">


    <app-error-message [control]="formGroup.get('title')"></app-error-message>

    </div>

    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" 
               class="form-control" 
               id="description"
               formControlName="description"
               placeholder="Enter description">
    <app-error-message [control]="formGroup.get('description')"></app-error-message>

    </div>

    <div class="form-group">
        <label for="type">Type:</label>
        <select class="browser-default custom-select form-control" 
                id="type"
                formControlName="type">
        <option value="Full-time">Full-time</option>
        <option value="Part-time">Part-time</option>
        <option value="Remote">Remote</option>
        </select>
    <app-error-message [control]="formGroup.get('type')"></app-error-message>    
        
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" 
               class="form-control" 
               id="category"
               formControlName="category"
               placeholder="Enter category">

    <app-error-message [control]="formGroup.get('category')"></app-error-message>           
    </div>

    <div class="form-group">
        <label for="imageUrl">Image link:</label>
        <input type="text" 
               class="form-control" 
               id="imageUrl"
               formControlName="imageUrl"
               placeholder="Enter image url">

    <app-error-message [control]="formGroup.get('imageUrl')"></app-error-message>           
    </div>

    <div class="form-group">
        <button type="submit" 
                class="btn btn-primary"
                [disabled]="formGroup.invalid">
        {{ad.id ? 'Update' : 'Add'}}
        </button>

        <button type="button"
                class="btn btn-primary ml-1"
                routerLink="/job-ads">
         Back
        </button>
    </div>

</form>
