<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card mb-4" style="width: 18rem;">
    <img class="card-img-top" src={{advertisement.imageUrl}} height="180" alt="Job offer image">
    <div class="card-body">
      <h5 class="card-title">{{advertisement.title}}</h5>
      <p class="card-text">
        <span class="font-weight-bold">Description: </span>{{advertisement.description}}
        </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="font-weight-bold">Type: </span>{{advertisement.type}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Category: </span>{{advertisement.category}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Likes: </span>{{advertisement.likes}}
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Offered by: </span>{{advertisement.companyName}}
      </li>
    </ul>
    <div class="card-body">
      <ng-container *ngIf="!companyName">
        <button type="button"
                class="btn btn-primary mr-1"
                (click)="onLikeClick();">
                <i class="fa fa-thumbs-up"></i>             
              </button>      
        
        <button type="button" 
                class="btn btn-primary mr-1"
                (click)="onApplyBtnClick()">
         Apply
        </button>
      </ng-container>

        <ng-container *ngIf="companyName === advertisement.companyName">
          <a class="btn btn-primary mr-1"
           [routerLink]="['/job-ads', 'edit', advertisement.id]">
          Edit
        </a>
      
        <button type="button" class="btn btn-primary" (click)="adSelectedForDelete.emit(advertisement.id)">Delete</button>
        </ng-container>        
    </div>
</div>